<section class="node">
    <h1 class="node-name">Node name</h1>
    <article class="node-desc">
        <h2>Description :</h2>
        <p>...</p>
    </article>
    <article class="node-io">
        <h2>Input/Output :</h2>
        <p><img src="" /></p>
        <h3>Topic(s) :</h3>
        <p>For more information about Topics <a href="http://wiki.ros.org/Topics">click here</a>.</p>
        <h3>Actionlib(s) :</h3>
        <p>For more information about Actionlibs <a href="http://wiki.ros.org/Actionlibs">click here</a>.</p>
        <h3>Service(s) :</h3>
        <p>For more information about Services <a href="http://wiki.ros.org/Services">click here</a>.</p>
    </article>
    <article>
        <h2 class="node-param">Parameters :</h2>
        <p><img src="" /></p>
    </article>
</section>