<html>
    <head>
        <meta charset="utf-8" />
        <link href="../styles/index.css" rel="stylesheet" />
        <title>AGI doc</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="../images/logo_airbus_group.png" alt="AGI Logo" />
                        <h1>AGI Documentations</h1>
                    </div>
                </div>
            </header>
            <nav/>
            <!--<section>
                <article/>
            </section>-->
        </div>
    </body>
</html>