<?xml version="1.0"?>
<launch>
  <arg name="output_path" default="/tmp"/>
  <arg name="pkg_name"/>

  <node pkg="agi_docgen" type="index.py" name="agi_docgen" output="screen">
    <param name="output_path" value="$(arg output_path)"/>
    <param name="pkgdir" value="$(arg pkg_name)"/>
  </node>

</launch>
