<?xml version="1.0"?>
<launch>
  <param name="scxml_file"      	value="${airbus_ssm_tutorial}/resources/scxml/Test.scxml"/>
  <param name="ssm_server_name" 	value="ssm"/>
  <param name="ssm_log_path"    	value="/tmp/"/>
  <param name="ssm_autostart"   	value="True"/>
  <param name="ssm_enable_log"		value="False"/>
  
  <node name="ssm_main" pkg="airbus_ssm_core" type="ssm_node.py" respawn="false" output="screen">  
  </node>
  
  
        
</launch>
